@import 'util/unit';
@import 'util/breakpoint';

@mixin transition($property: all, $duration: 0.3s, $timing : ease-in-out, $delay : 0.01s) {
	transition: $property $duration $timing $delay;
}

@mixin reset() {
	margin  : 0;
	padding : 0;
}