$light: 300 !global;
$regular: 400 !global;
$medium: 500 !global;
$semi-bold: 600 !global;
$bold: 700 !global;

$white: #fff !global;
$black: #000 !global;

$img-gradient-filter-start-color: rgba(0, 0, 0, 0.8) !global;
$img-gradient-filter-end-color: rgba(0, 0, 0, 0) !global;

$nav-height: rem-calc(150);
$nav-height-shrink: rem-calc(80);
$nav-height-mobile: rem-calc(60);
